
<!DOCTYPE html>
<html lang="en" theme="DARK">

<head></head>

<body>
  <div class="float-left text-light" id="sidebar">
  
    <a>
        <div class="icon rounded-circle"><img  src="https://cdn.discordapp.com/avatars/606279329844035594/a4cee260ddda539d5cba777c41689c75.png?size=4096" /></div>
    </a>
    <div class="separator text-center"></div>
    <a>
        <div class="icon rounded  my-2" ><img class="round" src="https://cdn.discordapp.com/avatars/606279329844035594/a4cee260ddda539d5cba777c41689c75.png?size=4096" /></div>
    </a>
</body>

</html>
